@import '../../../../shared/styles/executive-form-template.scss';

.team-member-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.team-member-item ng-select {
  flex: 1 1 auto;
  min-width: 0;
}

.team-member-item .remove-member {
  height: 40px;
  min-width: 40px;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
